<html>

<head>
    <title>Users Ujian Praktikum TIA NUR CANDIDA 1174086</title>
</head>

<body>
    <h1>Here are your users:TIA NUR CANDIDA 1174086</h1>

    <ol type="1">
        {% for cek in hasil %}
        <li>User Info</li>
        <ul>
            <li>First Name : {{cek.firstname}}</li>
            <li>Last Name : {{cek.lastname}}</li>
            <li>Email : {{cek.usermail}}</li>
        </ul>
        {% endfor %}
    </ol>
</body>

</html>